.timeline-badge {
    position: relative;
}

.stepper-rule {
    border: 2px solid #000 !important;
    width: 40%; 
    margin: 0 auto; 
    background: #000 !important;
    opacity: 100%;
}
.symbol.symbol-75px > img {
    width: 75px;
    height: 75px;
}
.card-color {
    background-color: #F0F0F0;
}
.btn:hover {
    background-color:#e1e3ea;
    color: #000;
}
.btn-color {
   background-color: #F0F0F0;
   border: none;
}
.symbol.symbol-circle, .symbol.symbol-circle > img, .symbol.symbol-circle .symbol-label {
    border-radius: 50%;
}
.p-12 {
    padding: 3rem;
}
.fetch-button,.checkin-btn,.add-data-btn{
    border: none !important;
    height: 43px;
    margin-top: 20px;
}
.py-15 {
    padding-top: 3.75rem !important;
    padding-bottom: 3.75rem !important;
}
.px-3 {
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
}
.pass-text{
    font-size: 18px !important;
}
.card-wrapper{
    height: 170px !important;
    border-radius: 70px;
    border: none;
}
@media (max-width: 991.98px)
{
    .container, .container-xxl, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: none;
        padding: 0 20px !important;
    }
}
.camera-img{
    margin-bottom: 20px;
}
.input-file {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}